/target/
kernel/target/
**/*.rs.bk
.idea/
.vscode/
*.pdb
*.efi
*.img
*.bin
.env
.DS_Store
.aura/
boot/out/
ota/dev-keys/*.pem
!ota/dev-keys/.gitkeep
tools/qemu/
tools/qemu-*/
tools/7z/
tools/7zr.exe
tools/7z-extra.7z
tools/qemu-w64-setup.exe
tools/qemu-serial.log
tools/qemu-stderr.log
tools/install-scoop.ps1
tools/lld.exe
userspace/guest/target/
